<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.19" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.15" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.1.8" requireReinstallation="true" />
  <package id="EasyHttp" version="1.6.58.0" targetFramework="net40" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net40" />
  <package id="log4net" version="2.0.0" requireReinstallation="true" />
  <package id="Nancy" version="0.11.0" requireReinstallation="true" />
  <package id="Nancy.Bootstrappers.StructureMap" version="0.11.0" requireReinstallation="true" />
  <package id="Nancy.Hosting.Self" version="0.11.0" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="structuremap" version="2.6.3" />
  <package id="Topshelf" version="2.3.0.0" requireReinstallation="true" />
  <package id="Topshelf.Log4Net" version="2.3.0.0" requireReinstallation="true" />
</packages>